<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642161392142-p7dridbhqmusjd0uk2m0nmprol9v2l29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642161392142-p7dridbhqmusjd0uk2m0nmprol9v2l29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>642161392142-ijtko1kkakdd75sfqpiimrau2e432re4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDncthhpp6Ia5_EW0NcSibQfkkUAK9kZN4</string>
	<key>GCM_SENDER_ID</key>
	<string>642161392142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrntlu.watchlistfy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-consumer-76309</string>
	<key>STORAGE_BUCKET</key>
	<string>project-consumer-76309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642161392142:ios:ceda0dbc4c438d2aaf9a5f</string>
</dict>
</plist>